{% extends 'myApp/base.html' %}
{% block content %}
<form method="POST" class="post-form" action="{% url 'edit' manual.id %}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
   
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Manual Name:</label>  
    <div class="col-sm-4">  
      {{ form.title }}  
    </div>  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Manual Description:</label>  
    <div class="col-sm-4">  
      {{ form.description }}  
    </div>  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Manual Author:</label>  
    <div class="col-sm-4">  
      {{ form.uploaded_by }}  
    </div>  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
{% endblock %}